name: github pages

on:
  push:
    branches:
      - feature/developersite

jobs:
  build-deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@master

      - name: setup node
        uses: actions/setup-node@v1
        with:
          node-version: "10.x"
          registry-url: "https://registry.npmjs.org"

      - name: install dependencies
        run: yarn
        working-directory: ./site

      - name: build docz site
        run: |
          yarn build
          ./check_build.sh
        working-directory: ./site
        env:
          DOCZ_BASE: /bestpractice/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_branch: gh-pages
          publish_dir: ./site/public
          script_mode: true'
